<div class="container-fluid">
    <div class="row">
        <div class="d-flex">
          <div class="col-sm-4">
            <img class="" width="50" height="50" routerLink="homepage" src="assets\logo.jfif">
            <button type="button" class="btn">
              <i class="bi bi-dash-square"></i>
            </button>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Search Venu" />
              <button
                class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-filter"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Cricket</a></li>
                <li><a class="dropdown-item" href="#">Football</a></li>
                <li><a class="dropdown-item" href="#">Batminton</a></li>
                <li><a class="dropdown-item" href="#">Tabletennis</a></li>
                <li><a class="dropdown-item" href="#">Vollyball</a></li>
                <li><a class="dropdown-item" href="#">Kho-Kho</a></li>
              </ul>
            </div>
          </div>
    
          <div class="col-sm-4">
            <button type="button" class="btn">Profile</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex">
          <div class="col-sm-3">
            <button type="button" class="btn" routerLink="cricket">Cricket</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn">Football</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn">Boxcricket</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn" routerLink="/games">Games/Sports</button>
          </div>
        </div>
      </div>
</div>
