<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 ">
            <div class="card  border-0 fw-bold ">
                <div class="card-body">
                    <img class="text-center" width="710" height="310" src="assets\ground1.jfif">
                    <p class="text-center">Name of the venu:</p>
                    <p class="text-center">Timeings:<span>8am to 12pm</span></p>
                    <p class="text-center">Location:</p>
                    
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" placeholder="Enter available sports" aria-label="Enter available sports" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2"><button class="btn " type="submit">Search</button></span>
                        
                      </div>
                      <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="row">
                              <div class="col-sm-12 d-flex p-2 w-100">
                                <div class="card p-2 border-0" style="width: 50%">
                                  <img src="assets\ground1.jfif"  class="card-img-top" alt="..." />
                                  <div class="card-body">
                                    <h5 class="card-title text-center" >Name of the Ground</h5>
                                    <div class=" row d-flex text-center m-auto">
                                      <p class="card-text ">per hour | Rating</p>
                                      
                                    </div>
                                  </div>
                                </div>
                                <div class="card p-2 border-0" style="width: 50%">
                                  <img src="assets\ground1.jfif" class="card-img-top" alt="..." />
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Name of the Ground</h5>
                                    <div class=" row d-flex text-center">
                                      <p class="card-text ">per hour | Rating</p>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="row">
                              <div class="col-sm d-flex p-2">
                                <div class="card p-2 border-0" style="width: 50%">
                                  <img src="assets\ground1.jfif" class="card-img-top" alt="..." />
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Name of the Ground</h5>
                                    <div class=" row d-flex text-center">
                                      <p class="card-text">per hour | Rating</p>
                                      
                                    </div>
                                  </div>
                                </div>
                                <div class="card p-2 border-0" style="width: 50%">
                                  <img src="assets\ground1.jfif" class="card-img-top" alt="..." />
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Name of the Ground</h5>
                                    <div class=" row d-flex text-center">
                                      <p class="card-text">per hour | Rating</p>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="row">
                              <div class="col-sm-12 d-flex p-2 w-100">
                                <div class="card p-2 border-0" style="width: 50%">
                                  <img src="assets\ground1.jfif" class="card-img-top" alt="..." />
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Name of the Ground</h5>
                                    <div class="row d-flex text-center">
                                      <p class="card-text">per hour | Rating</p>
                                      
                                    </div>
                                  </div>
                                </div>
                                <div class="card p-2 border-0" style="width: 50%">
                                  <img src="assets\ground1.jfif" class="card-img-top" alt="..." />
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Name of the Ground</h5>
                                    <div class="row d-flex text-center">
                                      <p class="card-text">per hour |rating</p>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button
                          class="carousel-control-prev"
                          type="button"
                          data-bs-target="#carouselExample"
                          data-bs-slide="prev"
                        >
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button
                          class="carousel-control-next"
                          type="button"
                          data-bs-target="#carouselExample"
                          data-bs-slide="next"
                        >
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      <div class="row">
                        <p>Specialities:</p>
                        <div class="col-sm-6">
                            <div class="form-floating">
                            <input type="text" class="form-control" id="floatingPassword" placeholder="Parking">
                            <label for="floatingPassword">Parking</label>
                          </div></div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingPassword" placeholder="Restaruant">
                                <label for="floatingPassword">Restaruant</label>
                              </div>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <p>About Venu:</p>
                        <div class="col-sm">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Description</label>
                              </div>
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-sm-6">
                            <button type="button" class="btn bb" routerLink="/book">BookNow</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn bb">SAVE</button>
                        </div>
                      </div>

                </div>

            </div>
        </div>
    </div>
</div>
