<div class="container">
    <div class="row">
        
        <div class="col-sm">
            <div class="card border-0">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-floating mb-3 ">
                                    <input type="number" class="form-control" id="floatingInput" placeholder="Enter number of Cricket Ground"> 
                                    <label for="floatingInput">Enter number of Cricket Ground</label>
                                  </div>
                                  <div class="form-floating mb-3 mt-1 ">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Name of Cricket Ground1"> 
                                    <label for="floatingInput">Name of Cricket Ground 1</label>
                                  </div>
                                  <div class="form-floating mb-3 mt-1 ">
                                    <input type="number" class="form-control" id="floatingInput" placeholder="Cost per hour for ground1"> 
                                    <label for="floatingInput">Cost per hour for ground1</label>
                                  </div>
                                  <div class="form-floating mb-3 ">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Cost per day for ground1"> 
                                    <label for="floatingInput">Cost per day for ground1</label>
                                  </div>
                                  <div class="form-floating mb-3 ">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Cost per week for ground1"> 
                                    <label for="floatingInput">Cost per week for ground1</label>
                                  </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating mb-3 mt-1 ">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Name of Cricket Ground 2"> 
                                    <label for="floatingInput">Name of Cricket Ground 2</label>
                                  </div>
                                  <div class="form-floating mb-3 mt-1 ">
                                    <input type="number" class="form-control" id="floatingInput" placeholder="Cost per hour for ground 2"> 
                                    <label for="floatingInput">Cost per hour for ground 2</label>
                                  </div>
                                  <div class="form-floating mb-3 ">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Cost per day for ground 2"> 
                                    <label for="floatingInput">Cost per day for ground 2</label>
                                  </div>
                                  <div class="form-floating mb-3 ">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Cost per week for ground 2"> 
                                    <label for="floatingInput">Cost per week for ground 2</label>
                                  </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
