<div class="container-fluid">
    <div class="row ">
        
            <div class="col-sm-4 p-2">
                <div class="card border-0 p-2">
                    <img class="border-0" width="435" height="230" src="assets\g1.jfif">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Enter name of Ground"> 
                    <label for="floatingInput">Enter name of Ground</label>
                  </div>
                  <div class="form-floating mb-3 mt-1">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Enter Location"> 
                    <label for="floatingInput">Enter Location</label>
                  </div>

                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter available sports" aria-label="Enter available sports" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2"><button class="btn " type="submit"><i class="bi bi-plus-lg"></i></button></span>
                    
                  </div>
                </div>
                
                  

            </div>
            <div class="col-sm-4 p-2">
                <div class="card border-0 p-2">
                    <img class="border-0" width="435" height="230" src="assets\g1.jfif">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Enter name of Ground"> 
                    <label for="floatingInput">Enter name of Ground</label>
                  </div>
                  <div class="form-floating mb-3 mt-1">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Enter Location"> 
                    <label for="floatingInput">Enter Location</label>
                  </div>

                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter available sports" aria-label="Enter available sports" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2"><button class="btn " type="submit"><i class="bi bi-plus-lg"></i></button></span>
                    
                  </div>
                </div>
                

            </div>
            <div class="col-sm-4 p-2">
                <div class="card border-0 p-2">
                    <img class="border-0" width="435" height="230" src="assets\g1.jfif">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Enter name of Ground"> 
                    <label for="floatingInput">Enter name of Ground</label>
                  </div>
                  <div class="form-floating mb-3 mt-1">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Enter Location"> 
                    <label for="floatingInput">Enter Location</label>
                  </div>

                  <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Enter available sports" aria-label="Enter available sports" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2"><button class="btn " type="submit"><i class="bi bi-plus-lg"></i></button></span>
                    
                  </div>
                </div>
                
            </div>

        
    </div>
    
</div>
