<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card border-0 car">
                <div class="card-header">
                    <h5 class="text-center">QR-CODE</h5>
                </div>
                <div class="card-body fw-bold">
                    <p>Ground Name:</p>
                    <p>Amount Paid:</p>
                    <p>Timeings:</p>
                    <p>Sports Selected:</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
